/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #0c2727;
  padding: 15px;
  z-index: 99;
}
.logo {
  font-size: 25px;
  padding: 0 15px;
}
.division-box {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/bg.jpg);
    background-size: cover; /* Scale the background image to cover the entire box */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    color: #fff; /* Text color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .profile-icon {
    margin-bottom: 10px;
  }
  
  .profile-icon {
    font-size: 30px;
  }
  .container {
    display: flex;
  }
  .sidebar a {
  color: #fff;
  text-decoration: none;
}
  .logout-button {
    background-color: transparent;
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 20px 55px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -300px;
    margin-bottom: 50px;
    display: flex;
    align-items: center; 
  }
  
  .logout-button i {
    font-size: 25px;
    margin-right: 25px; 
  }

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}
.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}
.tab a {
  padding: 25px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.tab.active{
  background: rgba(228, 221, 221, 0.1);
  padding: 0px;
  gap: 5px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;

}
.tab i {
  font-size: 12px;
}
.tab a:hover,
.logout-button:hover {
  background: rgba(228, 221, 221, 0.1);
}

.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: linear-gradient(180deg, #0c5c60, transparent);
  cursor: pointer;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.navbar img {
  width: 125px; /* Make sure the image doesn't exceed the width of its container */
  margin-left: 30px;
  position: absolute; /* Position the image */
  top: 61%; /* Move the top edge to the center vertically */
  transform: translateY(-60%); /* Center the image vertically */
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  float: right;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(8px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #34974d;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}

  .logout-button i {
    font-size: 25px;
    margin-right: 30px; 
  }
  .main {
    position: relative;
    display: flex;
    flex-direction: column; /* Change to a column layout */
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .main h1 {
    color: #fafafa;
    font-size: 30px;
    text-align: center;
    margin-bottom: -20px; /* Add some margin to separate from the boxes */
    padding-top: 50px; /* Add padding to create space from the top */
    
  }
  
  .box-container {
    flex-wrap: wrap;
    padding: 20px;
    margin-top: -1%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* CSS for each individual box */
  .box {
    height: 140px;
    padding: 20px;
    width: 340px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #0c2727 0%, #1b5757 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1 );
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
   text-align: left;
   color: #fff;
  }

  .box-a {
    flex: 1;
    height: 380px;
    padding: 20px;
    width: 340px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #0c2727 0%, #1b5757 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1 );
  }
  .box-b {
    flex: 1;
    height: 340px;
    padding: 20px;
    width: 1250px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #0c2727 0%, #1b5757 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1 );
    overflow-y: auto;
  }
  .box-c {
    flex: 1;
    height: 70%;
    padding: 20px;
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #0c2727 0%, #1b5757 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1 );
    overflow-y: auto;
  }

  .box-d {
    flex: 1;
    height: 70%;
    padding: 20px;
    width: auto;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #0c2727 0%, #1b5757 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1 );
    overflow-y: auto;
  }
  /* CSS for box titles */
  .box h2{
    font-size: 15px;
    margin-right: 50px;
  }
  .box p {
    font-size: 30px;
    text-align: left;
  }
  .box-a, h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fdfdfd; /* Title text color */
  }
  /* CSS for box subtitles */
  .box,.box-a p {
    margin-top: 30px;
    font-size: 13px;
    color: #ffffff; /* Subtitle text color */
  }

/* CSS for the table inside .box-b */
.box-b table,
.box-c table {
  width: 100%;
  border-collapse: collapse;
}

.box-b th,
.box-c th,
.box-b td,
.box-c td {
  border: 1px solid #ffffff3a; /* Add borders to table cells */
  padding: 10px;
  text-align: left;
}

.box-b th, .box-c th {
  background-color: #236d6d; /* Header background color */
  color: #fff; /* Header text color */
}

.box-b tr:nth-child(even), .box-c tr:nth-child(even) {
  background-color: #1b5757; /* Background color for even rows */
  color: #ffffff;
}

.box-b tr:nth-child(odd), .box-c tr:nth-child(odd) {
  background-color: #164646; /* Background color for odd rows */
  color: #fff; /* Text color for odd rows */
}

/* Styling the scrollbar */
.box-b:-webkit-scrollbar, .box-c::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.box-b:-webkit-scrollbar-thumb, .box-c::-webkit-scrollbar-thumb {
  background-color: #237846; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

.box-b:-webkit-scrollbar-thumb:hover, .box-c::-webkit-scrollbar-thumb:hover {
  background-color: #70afaf; /* Color of the scrollbar thumb on hover */
}

.box-b:-webkit-scrollbar-track, .box-c::-webkit-scrollbar-track {
  background-color: #1b5757; /* Color of the scrollbar track */
}

.box-b:-webkit-scrollbar-track:hover, .box-c::-webkit-scrollbar-track:hover {
  background-color: #1b5757; /* Color of the scrollbar track on hover */
}
/* Style for the search bar */
.search-bar { 
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}

.search-bar input {
  width: 100%;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px 10px;
  border-radius: 10px; /* Rounded corners for the input */
}
.search-bar .search-input {
  /* Add your specific styles for the search input here */ /* Example background color */
  color: #ffffff; 
  width: 100%;
  
}

/* Style for the h2 element */
.box-b h2 {
  color: #fff; /* Text color for the h2 element */
  margin-right: 10px; /* Add spacing between h2 and search bar */
  margin-bottom: -10px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  display: inline-block;
}

.filter-buttons button {
  background-color: white; /* Blue background color */
  border: none;
  color: black;
  padding: 5px 10px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.filter-buttons button:hover .arrow-button button:hover {
  background-color: #0c2727; /* Darker blue on hover */
}

.filter-buttons input {
  flex-grow: 0; /* Prevent the input field from growing */
  margin-right: 5px; /* Add a small gap between input and buttons */
}

.table-row .status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* Style for Success status */
.table-row .status.Success {
  background-color: green;
  color: white;
}

/* Style for Failed status */
.table-row .status.Failed {
  background-color: red;
  color: white;
}

/* For Arrow Button*/
.arrow-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  color: white;
  font-weight: bold;
  align-self: flex-end;
  margin-top: -15px;

}

.arrow-button2 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-right: 15px;
  margin-left: 310px;
}
.hidden-content {
  display: none;
  /* Other styles for the hidden content */
}
/*MODAL STYLES*/
.modal {
  position: fixed;
  top: -20%;
  left: 55%;
  transform: translate(-50%, 50%) scale(0);
  transition: 200ms ease-in-out;
  height: 70%;
  padding: 20px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #0c2727 0%, #1b5757 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67', GradientType=1 );
  overflow-y: auto;
}
.modal.active {
  transform: translate(-50%, 50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  display: inline-block;
  border-bottom: 1px;
}

.modal-header 
.title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fdfdfd;
  font-weight: bold;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  color: white;
  font-weight: bold;
  position: absolute; /* Set position to absolute */
  top: 0;
  right: 0;
  padding-right: 15px;

}

.viewbutton {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #6e9d45; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove button border */
  border-radius: 4px; /* Rounded corners */
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Font size */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.viewbutton:hover {
  background-color: #18b300; /* Change background color on hover */
}

.modal-body {
  padding-left: 25px;
  padding-right: 50px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,.5);
  pointer-events: none; 
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}


/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

/* Style for text inputs */
input[type="text"],
input[type="date"],
select {
  width: 350px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: transparent; /* Make inputs transparent */
  color: #fff; /* Text color */
}

/* Style for buttons */
button[type="button-unattended"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  margin-left: 10px;
}

/* Style for submit button */
input[type="submit"] {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
}

/* Style for select elements */
select {
  width: 350px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent; /* Make selects transparent */
  color: #fff; /* Text color */
}

/* Apply styles to the Unattended button */
button[type="button-unattended"] {
  background-color: #0c2727;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  margin-left: 10px;
}

/* Style for form labels with "Name" */
label[for="name"] {
  display: block;
  width: 50px;
}

/* Center the submit button */
input[type="submit"] {
  display: block;
  margin: 0 auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

/* Style for the Unattended button */
#unattendedButton {
  background-color: #0c5c60;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
}

select[name="cnc"] {
  background-color: #fff; /* Set the background color to white */
  color: #000; /* Set the text color to black */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 350px;
}

select[name="status"] {
  background-color: #fff; /* Set the background color to white */
  color: #000; /* Set the text color to black */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 350px;
}

/* Style for the Date input */
input[type="datetime-local"] {
  background-color: #fff; /* Set the background color to white */
  color: #000; /* Set the text color to black */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 350px;
}

label .required {
  color: red;
  margin-left: 5px;
}

input:disabled {
  background-color: #ddb7b7;
}

#violation_type {
  background-color: #fff; /* Background color */
  color: #000; /* Text color */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 350px;
}

/* Style for the "Violation" dropdown */
#violation {
  background-color: #fff; /* Background color */
  color: #000; /* Text color */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  width: 350px;
}

.box-footer {
  margin-left: 100px;
  margin-top: 30px;
  font-size: 9px;
  color: #ffffff;
}

tr:hover{
  cursor: pointer;
  background-color: #ee0707;
}

#map {
  height: 100%;
}
/* Modal styles */
.modal2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content2 {
  background-color: #0c2727;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid #13ad05;
  border-radius: 5px;
  width: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.modal-content2 p{
  size: 30px;
  color: #fff;
  margin-bottom: 8px;
}
/* Close button style */
.close2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}

.close2:hover {
  color: red;
}

/*modal styles*/

.modalContent3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 120%;
	padding: 20px;
 
}

form {
	width: 100%;
	padding: 20px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 0 20px 0 #404040; 
  color: #fff;
  background-color: #0c2727;
}

input, textarea, select {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
  background-color: #0c2727;
  color: #fff;
}

input {
	width: calc(100% - 10px);
	padding: 7px;
}

select {
	width: 40%;
    text-align: center;
    margin: 0 5px;
}

textarea {
	width: calc(100% - 12px);
	padding: 5px;
}

.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
	color: #333;
}
.item input:hover, .item select:hover, .item textarea:hover {
	border: 1px solid transparent;
	box-shadow: 0 0 6px 0 #333;
	color: #333;
}