/* style.css */
    INPUT:-webkit-autofill,
    SELECT:-webkit-autofill,
    TEXTAREA:-webkit-autofill{animation-name:onautofillstart}
    INPUT:not(:-webkit-autofill),
    SELECT:not(:-webkit-autofill),
    TEXTAREA:not(:-webkit-autofill){animation-name:onautofillcancel}@keyframes onautofillstart{}@keyframes onautofillcancel{}

		body {
      position: relative;
      display: flex;
      flex-direction: column; /* Change to a column layout */
      align-items: center;
      justify-content: center;
      height: 100vh;
      z-index: 100;
      background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/bats.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
    }
		
		.divider:after, .divider:before {
			content: "";
			flex: 1;
			height: 1px;
			background: #eee;
			opacity: 50px;
		}

    table tr:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    .box-footer {
      margin-left: 100px;
      margin-top: 30px;
      font-size: 10px;
      color: #ffffff;
    }